.blue {
  background-color: #00a8ff;
}

.green {
  background-color: #4cd137;
}

.taupe {
  background-color: #353b48;
}

.white {
  background-color: #f5f6fa;
}

.red{
  background-color: #e84118;
}

.yellow{
  background-color: #fbc531;
}

.font-black{
  color: black;
}