body{
  height: 100%;
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  font-weight: 800;
}

.section {
  width: 100%;
}

.row {
  width: 100%;
  display: inline-block;
}

.column {
  width: 100%;
  display:inline-block;
}

.content{
  top:50%;
  left:50%;
  text-align: center;
  padding: 2rem 0rem;
}

.content-text{}

.content-img{
  vertical-align:middle;
}

.half-width {
  width: 49%;
  display: inline-block;
}

.half-height{
  height:50%;
}

.third-height{
  height:75%;
}

.full {
  width: 100%;
  display: block;
  text-align: center;
}

.footer{
  background-color: #020202;
  color: #f0f0f0;
  height: 100px;
  width: 100%;
  overflow: hidden;
  left: 0;
  bottom: 0;
}

.header{
  height: 100px;
  width: 100%;
  z-index: 1;
  position: fixed;
  display:none;
}

.header-hide{
  top: -100px; /* must be same as the header height */
}

.button{
  /* temporary settings */
  border-radius: 64px;
  background-color: red;
  color: white;
  position: fixed;
  padding: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  z-index:999;
  cursor: pointer;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .section {
  padding-top: 102px;
  z-index: 1;
}

.font-big{
  font-size: 5rem;
}

.font-medium{
  font-size:1.5rem;
}

.font-small{
  font-size: 0.5rem;
}

@media screen and (max-device-width: 640px), (max-width:640px){
  .half-width{
    width:100%;
    display: block;
  }
  
  .font-big{
    font-size:3rem;
  }
  
  .font-medium{
    font-size:2rem;
  }
  
  .font-small{
    font-small: 1rem;
  }
  
  body{
    font-size: 32px;
  }
}